<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Contact</title>
	<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
    <link rel="stylesheet" th:href="@{/dist/css/all.css}">
	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/dist/js/dextero.js}"></script>
    <script th:src="@{/dist/js/all.js}"></script>
    <script th:src="@{/chart js/cities.js}"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<header th:include="header::header1">
	</header> 
	<div class="content-wrapper">
		<section class="content-header">
	    	<div class="container-fluid">
	        	<div class="row">
	            	<div class="col-lg-12">
	                	<div class="card-header text-center pb-2 d-bg-h2 ">
	                    	<label id="label" class="h2 font-weight-bold">Account</label>
	                  	</div>
	                    <div class="card mt-5">
	                    	<div class="card-body">
	                        	<form action="#" th:action="@{/contact/add/save1}" th:object="${account}" method="POST" autocomplete="off">
	                        		<input type="hidden" th:field="*{id}">
	                        		
	                        		<!-- save id while edit  -->
	                        		<input type="hidden" th:field="*{employee_id}">
	                        		  <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Account Owner:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									            
									                <!--<select class="form-control input-anime"  th:field="*{contactowner}" >
													<option th:each="a : ${employee}" th:value="${a.firstname + ' ' + a.lastname}" th:text="${a.firstname + ' ' + a.lastname}" selected></option>
												    <option th:each="a : ${EmployeeDeatilsList}" th:value="${a.firstname + ' ' + a.lastname}" th:text="${a.firstname + ' ' + a.lastname}"></option>
													
													</select>-->
													<h5 class=""  th:each="a : ${employee}" th:value="${a.firstname + ' ' + a.lastname}" th:text="${a.firstname + ' ' + a.lastname}"  ></h5>
									      
									            </div>
									        </div>
									    </div>
									    
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Account Name: </label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
													<!-- <input type="text" class="form-control input-anime" th:field="*{accountname}" placeholder="Enter Accountname">-->
									               <!--<select class="form-control input-anime"  th:field="*{accountname}" required>-->
													<!--<option th:each="a : ${AccountList}" th:value="${a.accountname}" th:text="${a.accountname}"></option>-->
													<!--</select>-->
									                <h5 class="" th:each="a : ${account}" th:value="${a.accountname}" th:text="${a.accountname}"></h5>
									      
									            </div>  
									        </div>  
									    </div>
									</div>
									
									 <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Email 1:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									               <!-- <input type="text" class="form-control input-anime" th:field="*{title}" placeholder="Enter Title">-->
									               <h5 class="" th:each="a : ${account}" th:value="${a.email}" th:text="${a.email}"></h5>
									            </div>
									        </div>
									    </div>
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Email 2:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									             <!--  <input type="text" class="form-control input-anime" th:field="*{email}" placeholder="Enter Email">-->
									               <h5 class="" th:each="a : ${account}" th:value="${a.email2}" th:text="${a.email2}"></h5>
									            </div>  
									        </div>  
									    </div>
									</div>
									
	                        		<div class="row mt-4">
										 <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Phone Number 1:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									              <h5 class="" th:each="a : ${account}" th:value="${a.phone}" th:text="${a.phone}"></h5>
									            </div>  
									        </div>  
									    </div>
										
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Phone Number 2:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									                 <h5 class="" th:each="a : ${account}" th:value="${a.phone2}" th:text="${a.phone2}"></h5>
									            </div>
									        </div>
									    </div>
									    
									</div>
	               
	               					<div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Mobile Number 1:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									            <!--  <input type="text" class="form-control input-anime" th:field="*{contactsource}" placeholder="Enter Executive">-->
												<h5 class="" th:each="a : ${account}" th:value="${a.mobile}" th:text="${a.mobile}"></h5>
												</div>
									        </div>
									    </div>
									   
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Mobile Number 2:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									             <!--  <input type="text" class="form-control input-anime" th:field="*{executive_level}" placeholder="Enter Executive">-->
									               <h5 class="" th:each="a : ${account}" th:value="${a.mobile2}" th:text="${a.mobile2}"></h5>
									            </div>  
									        </div>  
									    </div>
									</div>
	                               
	               
									
									<div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Account Site:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									               <!-- <input type="text" class="form-control input-anime" th:field="*{title}" placeholder="Enter Title">-->
									                <h5 class="" th:each="a : ${account}" th:value="${a.Accountsite}" th:text="${a.Accountsite}"></h5>
									            </div>
									        </div>
									    </div>
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Account Group:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									             <!--  <input type="text" class="form-control input-anime" th:field="*{email}" placeholder="Enter Email">-->
									                <h5  class=""  th:each="a : ${account}" th:value="${a.accountgroup}" th:text="${a.accountgroup}"></h5>
									            </div>  
									        </div>  
									    </div>
									</div>
									
									<div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Parent Account:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									                  <!-- <input type="text" class="form-control input-anime" th:field="*{department}" placeholder="Enter Department">-->
									                <h5 class="" th:each="a : ${account}" th:value="${a.Parentaccount}" th:text="${a.Parentaccount}"></h5>
									            </div>
									        </div>
									    </div>
									    
										 <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
	                                    			 <label class="d-label">Website:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									              <!-- <input type="text" class="form-control input-anime" th:field="*{phone_number}" placeholder="Enter Phone">-->
			                                  	   <h5 class="" th:each="a : ${account}" th:value="${a.website}" th:text="${a.website}"></h5>
			                                  	</div>
	                                		</div>
										</div>
									</div>
									
									
								
									
									<div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Account Type :</label>
									            </div>
									             <div class="col-sm-6 col-md-4 col-lg-6">
											 <h5 class="" th:each="a : ${account}" th:value="${a.accounttype}" th:text="${a.accounttype}"></h5>        
									            </div>
									        </div>
									    </div>
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Account Number:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									              <!-- <input type="text" class="form-control input-anime" th:field="*{mobile_number}" placeholder="Enter Number">-->
									          	  <h5 class="" th:each="a : ${account}" th:value="${a.accountnumber}" th:text="${a.accountnumber}"></h5>
											  </div>  
									        </div>  
									    </div>
									</div>
									
									<div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Industry:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									                 <!--  <input type="text" class="form-control input-anime" th:field="*{industry}" placeholder="Enter Industry">-->
									            <h5 class="" th:each="a : ${account}" th:value="${a.industry}" th:text="${a.industry}"></h5>
									            </div>
									        </div>
									    </div>
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Annual Revenue  :</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									               <!--<input type="text" class="form-control input-anime" th:field="*{linkedin_bio}" placeholder="Enter Linkedinbio">-->
									              <h5 class="" th:each="a : ${account}" th:value="${a.AnnualRevenue}" th:text="${a.AnnualRevenue}"></h5>
									            </div>  
									        </div>  
									    </div>
									</div>
	                        	
	                                <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Employee:</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									                <!--   <input type="text" class="form-control input-anime" th:field="*{secondaryemail}" placeholder="Enter Secondary Email">-->
									            <h5 class="" th:each="a : ${account}" th:value="${a.employee}" th:text="${a.employee}"></h5>  
									            </div>
									        </div>
									    </div>
									     <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">SIC Code:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									<!--               <input type="text" class="form-control input-anime" th:field="*{twitter}" placeholder="Enter Twitter">-->
									              <h5 class="" th:each="a : ${account}" th:value="${a.sic_code}" th:text="${a.sic_code}"></h5>
									            </div>
									        </div>  
									    </div>
								    </div>
								    
								      <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Ticker Symbol :</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									                 <!--  <input type="text" class="form-control input-anime" th:field="*{skypeid}" placeholder="Enter Skype ID">-->
									                <!-- <div style="    width: 100%;
														    height: 15vh;
														    padding: 0.5rem 0.7rem;
														    overflow: auto;
														    background: #f1f1f1;
														    border-radius: 5px;">
									                <p class="" th:each="c : ${remark}" th:value="${c.contactstatus+' '+ c.currentdate_time+' '+c.description}" th:text="${c.contactstatus+' '+ c.currentdate_time+' '+c.description}"  ></p>
									                
									               </div>-->
									                <h5 class="" th:each="a : ${account}" th:value="${a.tickersymbol}" th:text="${a.tickersymbol}"></h5>
									               
									            </div>
									        </div>
									    </div>
									     <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">DUNS No. :</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									               <!--<input type="text" class="form-control input-anime" name="duns">-->
									               <h5 class="" th:each="a : ${account}" th:value="${a.duns}" th:text="${a.duns}"></h5>
									            </div>  
									        </div>  
									    </div>
									  </div>
									  
									  <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Fax :</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									               <!--  <input type="text" class="form-control input-anime" name="Fax">-->
									               <h5 class="" th:each="a : ${account}" th:value="${a.fax}" th:text="${a.fax}"></h5>
									            </div>
									        </div>
									    </div>
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Ownership:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									               <h5 class="" th:each="a : ${account}" th:value="${a.ownership}" th:text="${a.ownership}"></h5>
									            </div>  
									        </div>  
									    </div>
									    </div>
									     <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Account Remarks :</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									                 <!--  <input type="text" class="form-control input-anime" th:field="*{skypeid}" placeholder="Enter Skype ID">-->
									                 <div style="    width: 60vw;
    height: 15vh;
    padding: 0.5rem 0.7rem;
    overflow: auto;
    background: #f1f1f1;
    border-radius: 5px;">
									                <p class="" th:each="a : ${remark}" th:value="${a.accountstatus+' '+ a.currentdate_time+' '+a.description}" th:text="${a.accountstatus+' '+ a.currentdate_time+' '+a.description}"  ></p>
									                
									               </div>
									            </div>
									        </div>
									    </div>
									    </div>
								      
								      
								      
								    <br>
								    <!-- Start with addrees part-->
									 <div class="card-header text-center pb-2 d-bg-h2 ">
	                    				<label id="label" class="h2 font-weight-bold">Address Information</label>
	                  				</div>
	                  				 <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">Address line 1 :</label>
									            </div>
									            <div class="col-sm-6 col-md-4 col-lg-6">
									             <!--   <input type="text" class="form-control input-anime" th:field="*{addresslin1}" placeholder="line1">-->
									           <p class="" th:each="a : ${account}" th:value="${a.addresslin1}" th:text="${a.addresslin1}"></p>
									            </div>
									        </div>
									    </div>
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label">Address line 2:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									               <!-- <input type="text" class="form-control input-anime" th:field="*{addresslin2}" placeholder="line2">-->
									            <p class="" th:each="a : ${account}" th:value="${a.addresslin2}" th:text="${a.addresslin2}"></p>
									            </div>  
									        </div>  
									    </div>
									</div>
									
									<div class="row mt-4">
										<div class="col-sm-6">
									        <div class="row">
                                        	 <div class="col-sm-4 col-lg-4">
                                          		<label class="d-label">Country :</label>
                                   			</div>
                                    		<div class="col-sm-6 col-md-4 col-lg-6">
                                        		<!-- <input type="text" class="form-control input-anime" th:field="*{country}" placeholder="country">-->
                                          	<h5 class="" th:each="a : ${account}" th:value="${a.country}" th:text="${a.country}"></h5>
                                          	</div>
                                      	</div>
                                      </div>
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									               <label class="d-label">State :</label>
                                           	    </div>
                                          	<div class="col-sm-6 col-md-6 col-lg-6">
                                           		<!-- <input type="text" class="form-control input-anime" th:field="*{state}" placeholder="state">-->
                                       		 <h5 class="" th:each="a : ${account}" th:value="${a.state}" th:text="${a.state}"></h5>
                                       		</div>  
									    </div>
									</div>
								</div>
									 <div class="row mt-4">
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-4 col-lg-4">
									                <label class="d-label">City :</label>
                                            </div>
                                       		<div class="col-sm-6 col-md-4 col-lg-6">
                                         		<!-- <input type="text" class="form-control input-anime" th:field="*{city}" placeholder="city">-->
                                         		 <h5 class="" th:each="a : ${account}" th:value="${a.city}" th:text="${a.city}"></h5>
                                          	</div>
									    </div>
									   </div>
                                      	
									    <div class="col-sm-6">
									        <div class="row">
									            <div class="col-sm-6 col-lg-6">
									                <label class="d-label"> Pin Code:</label>
									            </div>
									            <div class="col-sm-6 col-md-6 col-lg-6">
									               <!-- <input type="text" class="form-control input-anime" th:field="*{pincode}" placeholder="pincode">-->
									                <h5 class="" th:each="a : ${account}" th:value="${a.pincode}" th:text="${a.pincode}"></h5>
									            </div>  
									        </div>  
									    </div>
									</div>
									
									<!-- ENd with addrees part-->
								
	                              <!-- <div class="row mt-4">
	                                  <div class="col-sm-6 col-md-4 col-lg-3">
	                                    <button type="submit" class="btn btn-info">Save</button>
	                                  </div>
	                              </div>   -->   
	                                                                  
	                        	</form> 
	                        	 <div class="row mt-4"> 
	                              		<a th:href="@{/accountlist}">Back to List</a>
	                             </div>
	                        </div>
	                    </div>
	                </div>
	            </div>  
	        </div>          
		</section>
	</div>
	 <script language="javascript">print_state("sts");</script>
        <script language="javascript">print_country("cty");</script>
</body> 
</html>