<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Add Milestone</title>
		<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
		<link rel="stylesheet" th:href="@{/dist/icon/css/all.css}">
		<link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" />
		<link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}" />
		<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
		<link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
		<link rel="stylesheet" th:href="@{/dist/css/all.css}">
	
		<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
		<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
		<script th:src="@{/dist/js/dextero.js}"></script>
		<script th:src="@{/dist/js/all.js}"></script>
		
		<!--Export table button CSS-->
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
        
</head>
	<body class="hold-transition sidebar-mini layout-fixed">
	    <header th:include="header::header1"></header> 
	  	<div class="content-wrapper">
	        <section class="content-header">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <div class="card-header text-center pb-2 d-bg-h2 ">
	                            <lable id="label" class="h2 font-weight-bold">Add MileStone</lable>
	                        </div>
	                        <div class="card card-box-new tech-x-card-2 mt-5">
	                            <div class="card-body">
	                                <form action="#" th:action="@{/saveMilestone}" th:object="${milestone}" method="POST" autocomplete="off">
					   					<div class="row mt-4">
	                                        <div class="col-sm-4 col-md-4 col-lg-3 required-field">
	                                            <label class="d-label">Client Name :</label>
	                                        </div>
	                                        <div class="col-sm-6 col-md-4 col-lg-3">
	        									<select class="form-control input-anime"  th:field="*{company_name_id}" id="cname" required> 
													<option value="">Select</option>
													<option th:each="c:${Customerlist}"
															th:value="${c.id}"
															th:text="${c.CompanyName}" th:if="${c.companyid}==${CompanyID} AND ${c.status}==true"></option>
	        									</select>
	                                        </div>             
	                                    </div>
	                                    <div class="row mt-4">
	                                        <div class="col-sm-4 col-md-4 col-lg-3 required-field">
	                                            <label  for="CompanyName" class="d-label">Category :</label>
	                                        </div>
	                                        <div class="col-sm-6 col-md-4 col-lg-3">
	                                        	<select  class="form-control input-anime" id="category" required>
	                                                <option value="">Select</option>
													<option th:each="c1:${Categorylist}"
															th:value="${c1.category}"
															th:text="${c1.category}" th:if="${c1.companyid}==${CompanyID}"></option>
	                                            </select>
	                                        </div>
	                                    </div>
	                                    <div class="row mt-4">
	                                        <div class="col-sm-4 col-md-4 col-lg-3 required-field">
	                                            <label class="d-label">Project Name :</label>
	                                        </div>
	                                        <div class="col-sm-6 col-md-4 col-lg-4">
	        									<select class="form-control input-anime" th:field="*{project_id}" id="pname" required> 
													<option value="">Select</option>
	        									</select>
	                                        </div>             
	                                    </div>
	                                	<div class="row mt-4">
	                                        <div class="col-sm-4 col-md-4 col-lg-3 required-field">
	                                            <label class="d-label">Project Code :</label>
	                                        </div>
	                                        <div class="col-sm-6 col-md-4 col-lg-4">
	        									<select class="form-control input-anime" id="projectCode" > 
	        										<option value="">Select</option>
													<!-- <option th:each="task:${Projectlist}"
															th:value="${task.projectcode}"
															th:text="${task.projectcode}"></option> -->
	        									</select>
	                                        </div>             
	                                    </div>
					   					<div class="row mt-4">
	                                        <div class="col-sm-4 col-md-4 col-lg-3 required-field">
	                                            <label  class="d-label">MileStone :</label>
	                                        </div>
	                                        <div class="col-sm-6 col-md-4 col-lg-4">
	                                            <input type="text" class="form-control input-anime" th:field="*{add_milestone}" placeholder="Add milestone" required>
	                                        </div> 
	                                        <div class="col-sm-4 col-md-4 col-lg-3">
	                                            <button type="submit" class="btn btn-info">ADD</button>
	                                        </div>    
	                                    </div>   
	                                </form>    
	                                <div class="table-responsive mt-4">
		                                <table id="data-table" data-order='[[ 0, "desc" ]]' border="1" class="table table-bordered table-head-fixed table-striped">
		                                    <thead>
		                                        <tr>
		                                           	<!-- <th class="text-center" style="width:15px;">SR.NO.</th> -->
		                                           	<th class="text-center">Client Name</th>
		                                            <th class="text-center">Category</th>
		                                            <th class="text-center">Project Name</th>
		                                            <th class="text-center">Project Code</th>
		                                            <th class="text-center">MileStone</th>
		                                            <th class="text-center" style="width:15px;">Edit</th>
		                                            <!-- <th class="text-center" style="width:15px;">Delete</th> -->
		                                           <!--  <th class="text-center" style="width:15px;">Create New Task</th> -->
		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr th:each="milestone:${milestonelist}" th:if="${milestone.companyid}==${CompanyID}">
		                                            <!-- <td class="text-center" th:text="${milestone.id}"></td>  -->
		                                            <td class="text-center" th:each="e:${Customerlist}" th:if="${e.id}==${milestone.company_name_id}" th:text="${e.CompanyName}"></td>
		                                            <td class="text-center" th:each="c:${Projectlist}" th:if="${c.id}==${milestone.project_id}" th:text="${c.categoryName}"></td>
		                                            <td class="text-center" th:each="p:${Projectlist}" th:if="${p.id}==${milestone.project_id}" th:text="${p.projectName}"></td>
		                                            <td class="text-center" th:each="p:${Projectlist}" th:if="${p.id}==${milestone.project_id}" th:text="${p.projectcode}"></td>
		                                            <td class="text-center" th:text="${milestone.add_milestone}"></td>
		                                            <td class="text-center"><a th:href="@{/showMilestoneEditForm/{id}(id=${milestone.id})}"><i class="fa-solid fa-pencil text-success"></i></a></td>
		                                            <!-- <td class="text-center"><a th:href="@{/deleteMilestone/{id}(id=${milestone.id})}"><i class="fa-solid fa-trash text-danger"></i></a></td> -->
		                                           <!--  <td class="text-center"><a th:href="@{/addtask}"><i class="fa-solid fa-bars-progress mr-1"></i></a></td> -->
		                                        </tr>
		                                    </tbody>
		                                </table>
		                        	</div>    
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>            
	        </section>
	    </div>
	<script type="text/javascript">
			  $(document).ready(function() {
			    $('#data-table').DataTable({
			      stateSave: true,
			      stateDuration: 120,
			      dom: "<'row'<'col-sm-0'l><'col-sm-2 text-right'B><'col-sm-1 text-right'><'col-sm-4'<'toolbar'>><'col-sm-3'f>>" +
			           "<'row'<'col-sm-12'tr>>" +
			           "<'row'<'col-sm-5'i><'col-sm-7'p>>",
			      buttons: [
			        {
			          extend: 'excel',
			          text: '<i class="fa fa-file-excel"></i> Excel',
			          className: 'btn btn-primary btn-md',
			          exportOptions: {
			            columns: [0, 1,2,3,4,5] // Specify the columns to be included (column indexes)
			          }
			        },
			        {
			          extend: 'pdf',
			          text: '<i class="fa fa-file-pdf"></i> PDF',
			          className: 'btn btn-primary btn-md',
			          exportOptions: {
			            columns: [0, 1,2,3,4,5] // Specify the columns to be included (column indexes)
			          },
			          
			        }
			      ]
			    });
			  });
			</script>
			<script type="text/javascript">
				
			$(function(){
				$("#cname, #category").change(function(){
					$('#pname').find('option').remove().end();
					
					var Pname = $('#cname').val();
					var category = $('#category').val();
					$.ajax({
						url:"[[@{/getprojectNamedropdown}]]",
						data:{
							name: Pname,
							name1: category
						},
						success:function(data){
						$('#pname').append($('<option>',{
									value:"",
									text:"Select"
								}));
							$.each(data,function(i,item){
								$('#pname').append($('<option>',{
									value:item.id,
									text:item.projectName
								}));
							});
						}
					});
				});	
				$("#category, #pname").change(function(){
					$('#projectCode').find('option').remove().end();
					var Pcode =  $('#category').val();
					var category = $('#pname').val();
					$.ajax({
						url:"[[@{/getdropdown}]]",
						data:{
							name: Pcode,
							name1: category
						},
						success:function(data){
							
							$.each(data,function(i,item){
								$('#projectCode').append($('<option>',{
									value:item.projectcode,
									text:item.projectcode
								}));
							});
						}
					});
				});
				
			});
			$("input").on("keypress", function(e) {
				if (e.which === 32 && !this.value.length)
					e.preventDefault();
			});
		</script>
	</body> 
</html>