<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Create Company</title>
        <link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">
        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
            <!--date-->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
		<script th:src="@{/chart js/cities.js}"></script>
		<style>
		  .d-label:after {
		    content:" *";
		    color: red;
		  }
		</style>
		<script type="text/javascript">  
		    $(document).ready(function() {  
		        $('select[multiple]').multiselect({
			        allSelectedText: 'All',
			    	includeSelectAllOption: true,
			    	buttonWidth:'400px'
		    	});  
		    	$("#birthyear").datepicker({
		        	dateFormat: "yy-mm-dd"
		      	}); 
		        $("#joiningdate").datepicker({
		        	dateFormat: "dd-mm-yy"
		        }); 
				var age="";
		       	$('#dob').datepicker({
		       		changeMonth: true,
		         	changeYear:true,
		        	yearRange: "1950:2010",
		         	dateFormat: 'dd-mm-yy',
		         	onSelect: function(value, ui) {
		            	var today = new Date();
		            	age = today.getFullYear() - ui.selectedYear;
		           		$('#AGE').val(age);
		          	}
		          })
				});
		 </script>  
</head>
   <body class="hold-transition sidebar-mini layout-fixed">
    	<header th:include="header::header1"></header> 
  	   	<div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-header text-center pb-2 d-bg-h2 ">
                                <lable id="label" class="h2 font-weight-bold">Create Company</lable>
                            </div>
                            <div class="card card-box-new tech-x-card-2 mt-5">
                                <div class="card-body">
                                    <form action="#" th:action="@{/Savecreate_company}" th:object="${CompanyDetails}" method="POST" autocomplete="off"> 
                                      <div class="row mt-4">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="d-label">Company Name:</label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <input class="form-control input-anime" type="text" th:field="*{company_name}" placeholder="Company Name">
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="d-label">First Name:</label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <input class="form-control input-anime" type="text" th:field="*{firstname}" placeholder="First Name">
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="d-label">Last Name:</label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <input class="form-control input-anime" type="text" th:field="*{lastname}" placeholder="Last Name">
                                            </div>
                                        </div>
                                        
                                        <div class="row mt-4">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="d-label">Company ID:</label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <input  class="form-control input-anime" type="email" th:field="*{email}">
                                            </div>
                                        </div>
                                         <div class="row mt-4">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="d-label">Number of Employee:</label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                 <!--<select class="form-control input-anime" name="NoofEmployee">
											         <option th:each="a : ${EmployeeList}" th:value="${a.emp}" th:text="${a.emp}"></option>
											      </select>-->
											        <input  class="form-control input-anime"  name="NoofEmployee" type="number">
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="d-label">Present Address:</label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-3">
                                                <input class="form-control input-anime" th:field="*{PresentAddress1}"  size="25" placeholder="line1">
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-3">
                                                <input class="form-control input-anime" th:field="*{PresentAddress2}"  size="25" placeholder="line2">
                                            </div>
                                        </div>
                                        
                                        <div class="row mt-4">
                                        	<div class="col-sm-4 col-lg-4">
                                          		<label class="d-label">Country :</label>
                                   			</div>
                                    		<div class="col-sm-6 col-md-4 col-lg-3">
                                        		<select class="form-control input-anime" th:field="*{country}" onchange="print_state('country', this.selectedIndex);" id="cty" name ="cty">
			                                   		<option value="">Select Country</option>
			        							</select>
                                          	</div>
                                      	</div>
                                        <div class="row mt-4">
                                      		<div class="col-sm-4 col-lg-4">
                                           		<label class="d-label">State :</label>
                                           	</div>
                                          	<div class="col-sm-6 col-md-4 col-lg-3">
                                           		<select th:field="*{state}" id="country" onchange="print_city('state', this.selectedIndex);" name ="country" class="form-control input-anime">
                                                	<option value="">Select State</option>
                                              	</select>
                                       		</div>
                                     	</div>
										<div class="row mt-4">
                                       		<div class="col-sm-4 col-lg-4">
                                            	<label class="d-label">City :</label>
                                            </div>
                                       		<div class="col-sm-6 col-md-4 col-lg-3">
                                         		<select th:field="*{city}" name="state" id ="state" class="form-control input-anime">
                                                	<option value="">Select City</option>
		                                      	</select>
                                          	</div>
                                       	</div>
										<div class="row mt-4">
                                       		<div class="col-sm-4 col-lg-4">
                                            	<label class="d-label">Pin Code</label>
                                          	</div>
                                          	<div class="col-sm-6 col-md-4 col-lg-2">
                                           		<input type="text" th:field="*{pin_code}" id="pin code" placeholder="Pin Code" class="form-control input-anime">
                                            </div>
                                       </div>
                                        

                                        <div class="row mt-4">
                                            <div class="col-sm-4 col-lg-4">
                                                <label class="d-label">Mobile Number:</label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-1">
                                            	<select class="form-control input-anime" th:field="*{mcode}">
                                                    <option th:value="'+91'">+91</option>
        										</select></div>
        										<div class="col-sm-6 col-md-4 col-lg-2">
                                                <input class="form-control input-anime" th:field="*{MobileNumber1}" placeholder="Mobile Number1"  pattern="[0-9]{10}"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                                                type = "text" maxlength = "10" >
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-2">
                                                <input class="form-control input-anime" th:field="*{MobileNumber2}" placeholder="Mobile Number2"  pattern="[0-9]{10}"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
         										type = "text" maxlength = "10" >
                                            </div>
                                          </div>
                                      
                                        <button type="submit" class="btn btn-info mt-4" >Save</button>         
                                    </form>  
                                </div>    
                            </div>
                        </div>    
                    </div>    
                </div>
            </section>   
        </div>
        <script language="javascript">print_state("sts");</script>
        <script language="javascript">print_country("cty");</script>
    </body>
</html>