<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>FeedBack</title>
		<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">

        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
       
</head>

	<body class="hold-transition sidebar-mini layout-fixed">
		<header th:include="header::header1"></header> 
		<div class="content-wrapper">
	        <section class="content-header">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <div class="card-header text-center pb-2 d-bg-h2 ">
	                            <lable id="label" class="h2 font-weight-bold">FeedBack List</lable>
	                        </div>
	                        <div class="card card-box-new tech-x-card-2 mt-5">
	                            <div class="card-body">   
	                                <table  id="data-table" data-order='[[ 0, "desc" ]]' border="1" class="table table-bordered">
	                                    <thead>
	                                        <tr>
	                                           	<!--<th class="text-center" style="width:15px;">SR.NO.</th>-->
						    					<th class="text-center">Employee Name</th>
							    				<th class="text-center">Type</th>
							    				<th class="text-center">Description</th>
							    				<th class="text-center">Date</th>
							    				<th class="text-center">Status</th>
		                                        <th class="text-center" style="width:15px;">Edit</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr th:each="feedback:${FeedbackList}" >
	                                            <!--<td class="text-center" th:text="${feedback.id}"></td> -->
	                                            
	                                            <td class="text-center">
	                                            <span  th:each="e:${ListUserName}" th:if="${e.id}==${feedback.employee_id}" th:text="${e.firstname} + ' ' + ${e.lastname}"></span>
	                                           </td>
	                                            <!--<span th:if="${feedback.trainer_id}==0 AND ${feedback.student_id}==0">ADMIN</span>
	                                            </td>-->
			                                    <td class="text-center" th:text="${feedback.type}"></td> 
			                                    <td class="text-center" th:text="${feedback.description}"></td>
			                                    <td class="text-center" th:text="${feedback.currentdate}"></td>
			                                    <td class="text-center" th:text="${feedback.status}"></td> 
	                                            <td class="text-center"><a th:href="@{/edit-feedback-master-admin/{id}(id=${feedback.id})}"><i class="fa-solid fa-pencil text-success"></i></a></td>
	                                            <!-- <td class="text-center"><a th:href="@{/DeleteFeedback/{id}(id=${feedback.id})}"><i class="fa-solid fa-trash text-danger"></i></a></td> -->
	                                        </tr>	
	                                    </tbody>
	                                </table> 
	                        	</div>
	                    	</div>
	                	</div>
	            	</div>  
	        	</div>          
			</section>
		</div>
			<script type="text/javascript">
		       $(document).ready(function() {
			    $('#data-table').DataTable({
					stateSave: true,
					stateDuration: 120,
					dom: 	"<'row'<'col-sm-0'l><'col-sm-3 text-right'B><'col-sm-4'<'toolbar'>><'col-sm-3'f>>" +
							"<'row'<'col-sm-12'tr>>" +
							"<'row'<'col-sm-5'i><'col-sm-7'p>>",
					buttons: [{ extend: 'print', text:'<i class="fa fa-print"></i> Print', className: 'btn btn-primary btn-md' }, 
					{ extend: 'excel',text:'<i class="fa fa-file-excel"></i> Excel', className: 'btn btn-primary btn-md' },
					{ extend: 'pdf',className: 'btn btn-primary btn-md' ,text:'<i class="fa fa-file-pdf"></i> PDF' }] ,
					});
				});
			</script>
	</body> 
</html>