<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Login | Naukri Portal</title>
	<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
    <link rel="stylesheet" th:href="@{/dist/css/all.css}">

    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/dist/js/dextero.js}"></script>
    <script th:src="@{/dist/js/all.js}"></script>
   
</head>

	<body>
	    <div class="wrapper">
	        <!-- Navbar -->
	        <nav class="navbar navbar-static-top navbar-expand navbar-white navbar-light" >
	            <h3 class=" text-center font-weight-bold  "  style="color: #0D3978">Naukri Login</h3>
	        </nav>
	    </div>
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-sm-7">
	               <div class="container">
	                    <div class="text-center">
	                        <img src="dist/images/undraw_feeling_proud_qne1.svg" class="img-fluid" style="height: 23rem; width: 23rem;" >
	                    </div>
	                    <h1 class="font-weight-bold mt-4 text-center" style="color: #0D3978;"> Best Employee Experience Platform</h1>
	                    <p class="mt-4 h5 font-weight-bold text-center">Don't limit yourself. Many people limit themselves to what they think they can do. You can go as far as your mind lets you. You achieve what you believe.</p>
	               </div>
	            </div>
	            <div class="col-sm-5 ">
	                <div class="login-box mx-auto ">
	                    <div class="card card-box-new bg-white border tech-x-card-2 mt-1" style="border-radius: 15px;" >   
	                        <div class="card-body ">
	                            <h3 class="text-center font-weight-bold">Enter OTP</h3>
	                            <img src="dist/images/undraw_forgot_password_re_hxwm.svg" class="card-img ci-h25">
	              
	                            <form th:action="@{/checkotp}" method="post">
	                                <div class="input-group mt-3 mb-3">
	                                    <input type="text" class="form-control input-anime" placeholder="Enter OTP" name="otp" required>
	                                    <input type="hidden" class="form-control input-anime" name="password" th:value="${password}">
	                                </div>
	                                <div class="row">
	                                    <div class="col-lg-8 col-sm-8">
	                                      
	                                    </div>
	                                    <div class="col-lg-4 col-sm-4">
	                                      <button type="submit" class="btn btn-primary btn-block">Send</button>
	                                    </div>
	                                </div>
	                            </form>
	                            <div th:if="${param.error} == true" class="alert alert-danger" role="alert">
	                            	Invalid OTP.
	                          	</div>
	                        </div>
	                    </div>     
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
	<script type="text/javascript">
         $("input").on("keypress", function(e) {
			if (e.which === 32 && !this.value.length)
				e.preventDefault();
		});
      </script>
</html>