<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lead</title>
	<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
    <link rel="stylesheet" th:href="@{/dist/css/all.css}">
	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/dist/js/dextero.js}"></script>
    <script th:src="@{/dist/js/all.js}"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<header th:include="header::header1">
	</header> 
	<div class="content-wrapper">
		<section class="content-header">
	    	<div class="container-fluid">
	        	<div class="row">
	            	<div class="col-lg-12">
	                	<div class="card-header text-center pb-2 d-bg-h2 ">
	                    	<label id="label" class="h2 font-weight-bold">Add Lead Master</label>
	                  	</div>
	                    <div class="card mt-5">
	                    	<div class="card-body">
	                        	<form action="#" th:action="@{/leadmaster/save}" method="POST" autocomplete="off">
	                        	       
	                        	<div class="row mt-4">
	                                	<div class="col-sm-4 col-md-4 col-lg-3">
	                                    	<label class="d-label">Lead Source</label>
	                                   	</div>
	                                    <div class="col-sm-6 col-md-4 col-lg-2">
	                                    	<input type="text" class="form-control input-anime" name="Leadsource">
	                                  	</div>
	                              	</div>
	                              	 <div class="row mt-4">
	                                	<div class="col-sm-6 col-md-4 col-lg-3">
	                                    	<button type="submit" class="btn btn-info">ADD</button>
	                                   	</div>
	                              	</div>  
	                              	
	                              	 	<br>
	                              	
	                              	 <table id="data-table" data-order='[[ 0, "desc" ]]'  class="table table-bordered table-responsive table-head-fixed table-striped">
                                        <thead>
                                            <tr>
                                                <th class="d-list-th">SR.NO.</th>
												<th class="d-list-th">Lead Source</th>
											</tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="i:${LeadMasterList}">
                                                <td class="text-center" th:text="${i.id}"></td>
                                                <td class="text-center" th:text="${i.leadsource}"></td>
                                                 </tr>
                                        </tbody>
                                    </table> 	
	                             </form> 
	                              <!--  <form action="#" th:action="@{/leadmaster/save}" method="POST" autocomplete="off">
	                        	<div class="row mt-4">
	                                	<div class="col-sm-4 col-md-4 col-lg-3">
	                                    	<label class="d-label">Lead Source</label>
	                                   	</div>
	                                    <div class="col-sm-6 col-md-4 col-lg-2">
	                                    	<input type="text" class="form-control input-anime" name="Leadsource">
	                                  	</div>
	                              	</div>
	                              	
	                              	
	                             </form>  -->
	                        </div>
	                    </div>
	                </div>
	            </div>  
	        </div>          
		</section>
	</div>
</body>
</html>