<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Courses</title>
		<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">

        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
       
</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		<header th:include="header::header1"></header> 
		<div class="content-wrapper">
	        <section class="content-header">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <div class="card-header text-center pb-2 d-bg-h2 ">
	                            <lable id="label" class="h2 font-weight-bold">Case Studies</lable>
	                        </div>
	                        <div class="card card-box-new tech-x-card-2 mt-5">
	                            <div class="card-body">
									<form action="#" th:action="@{/SaveAllCase}" th:object="${casestudies}" method="POST" enctype="multipart/form-data" autocomplete="off">
	                                   
	                                   <div class="row mt-4">
		                            		<div class="col-sm-4 col-md-4 col-lg-2">
		                                    	<label  for="title" class="d-label">File 1 :</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-5">
		                                  		<input type="file" name="csreadingPdfFile1"  id="readingPdfFile"  multiple>
		                                 	</div>
		                             	</div>
		                             	
		                             		<div class="row mt-4">
		                              		<div class="col-sm-4 col-md-4 col-lg-2">
		                                  		<label  for="title" class="d-label">File 1 Description:</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-3">
		                                   		<input type="text" class="form-control input-anime" name="filedescription1" placeholder="Enter file details">
		                               		</div>
	                                	</div>
		                             	
		                             	<div class="row mt-4">
		                            		<div class="col-sm-4 col-md-4 col-lg-2">
		                                    	<label  for="title" class="d-label">File 2 :</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-5">
		                                  		<input type="file" name="csreadingPdfFile2"  id="readingPdfFile"  multiple>
		                                 	</div>
		                             	</div>
		                             	
		                             	<div class="row mt-4">
		                              		<div class="col-sm-4 col-md-4 col-lg-2">
		                                  		<label  for="title" class="d-label">File 2 Description:</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-3">
		                                   		<input type="text" class="form-control input-anime" name="filedescription2" placeholder="Enter file details">
		                               		</div>
	                                	</div>
	                                   
	                                   <!-- <div  id="additionalFields"  class="hidden">  
                                      <div class="card-header text-center pb-2 d-bg-h2 mt-4">
                                         <lable id="label" class="h2 font-weight-bold"> Safety Data Sheets</lable>
                                      </div>
                                      
                                      <div class="row mt-4">
		                            		<div class="col-sm-4 col-md-4 col-lg-2">
		                                    	<label  for="title" class="d-label">File 1 :</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-5">
		                                  		<input type="file" name="readingPdfFile"  id="readingPdfFile"  multiple>
		                                 	</div>
		                             	</div>
		                             	
		                             	<div class="row mt-4">
		                            		<div class="col-sm-4 col-md-4 col-lg-2">
		                                    	<label  for="title" class="d-label">File 2 :</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-5">
		                                  		<input type="file" name="readingPdfFile"  id="readingPdfFile"  multiple>
		                                 	</div>
		                             	</div>
		                             	
		                             	
		                             	<div  id="additionalFields"  class="hidden">  
                                      <div class="card-header text-center pb-2 d-bg-h2 mt-4">
                                         <lable id="label" class="h2 font-weight-bold"> Safety Data Sheets</lable>
                                      </div>
                                      
                                      <div class="row mt-4">
		                            		<div class="col-sm-4 col-md-4 col-lg-2">
		                                    	<label  for="title" class="d-label">File 1 :</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-5">
		                                  		<input type="file" name="readingPdfFile"  id="readingPdfFile"  multiple>
		                                 	</div>
		                             	</div>
		                             	
		                             	<div class="row mt-4">
		                            		<div class="col-sm-4 col-md-4 col-lg-2">
		                                    	<label  for="title" class="d-label">File 2 :</label>
		                                  	</div>
		                                	<div class="col-sm-6 col-md-4 col-lg-5">
		                                  		<input type="file" name="readingPdfFile"  id="readingPdfFile"  multiple>
		                                 	</div>
		                             	</div>
		                             	</div>
                                      -->
	                                   
                                       <div class="row mt-4">
	                                	<div class="col-sm-6 col-md-4 col-lg-3">
	                                    	<button type="submit" class="btn btn-info mt-4">ADD</button>
	                                   	</div>
	                              	</div>        
                                     <!-- <button type="submit" class="btn btn-info mt-4" >Add </button>      -->   
                                    </form>  
                                </div>    
                            </div>
                        </div>    
                    </div>    
                </div>
            </section>   
        </div>